---
import Guide from "@/components/Guide.astro";
import Results from "@/components/Results.astro";
import Search from "@/components/Search.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex w-full flex-col gap-6">
    <Search />
     <Results />
    <!-- <Guide /> -->
  </div>
</Layout>