---
import Guide from "@/components/Guide.astro";
import Results from "@/components/Results.astro";
import Search from "@/components/Search.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Buscador de Palabras"
  description="Utiliza inteligencia artificial y la base de datos de la Real Academia Española para buscar palabras, definiciones, expresiones, refranes y locuciones basadas en tu descripción. ¡Averigua lo que estás buscando de forma rápida y sencilla!"
>
  <main
    id="content"
    class="flex w-full flex-col gap-4 bg-white text-gray-900 dark:bg-gray-900 dark:text-white"
  >
    <Search />
    <Results />
    <hr class="my-8 border-gray-200 dark:border-gray-700" />
    <Guide />
  </main>
</Layout>
