---
import LinkPortfolio from "./LinkPortfolio.astro";
---

<footer class="flex h-12 w-full items-center justify-center">
  <span class="flex items-center gap-2 text-xs md:text-sm">
    <span class="text-pretty opacity-80">Hecho por amor al arte por</span>
    <LinkPortfolio />
  </span>
</footer>
