---
import { getCollection, render } from "astro:content";

const guide = await getCollection("guide");
const guideContent = guide[0];
const { Content } = await render(guideContent);
---

<section class="mb-14 flex w-full flex-col items-center">
  <article class="prose prose-stone dark:prose-invert">
    <Content />
  </article>
</section>
