<section class="flex w-full flex-col gap-2">
  <h2 class="text-2xl font-bold">Guía</h2>
  <p class="text-sm text-gray-500">
    Escribe todo lo que sepas sobre la palabra que quieres buscar y el
    diccionario invertido te dará el resultado.
  </p>
</section>
