<a
  class="flex items-center justify-center gap-1 rounded-full border border-gray-300 px-2 py-1 transition-all duration-300 hover:bg-gray-100"
  href="https://adrianpalomo.com"
  target="_blank"
  aria-label="Portfolio de Adrian Palomo"
>
  <img
    src="https://adrianpalomo.com/images/Fav.webp"
    alt="Adrian Palomo"
    class="h-5 w-auto"
    aria-label="Logo del Portfolio de Adrian Palomo"
  />
  <span class="text-nowrap">Adrian Palomo</span>
</a>
