<a class="mb-8 flex items-center gap-2" href="/">
  <img
    src="/logo.webp"
    alt="Logo de buscador de palabras"
    class="h-auto w-8 dark:invert"
    aria-label="Logo de buscador de palabras"
  />
  <h1
    class="text-2xl font-bold text-gray-900 dark:text-white"
    aria-label="Buscador de palabras"
  >
    Buscador de palabras
  </h1>
</a>
